body {
    padding-left: 20%;
    padding-right: 20%;
    background: #000000;
    border-radius: 20px;
}


/*header*/

.navbar-default {
    background-color: #ffffff;
}

#site-content {
    background: #ffffff;
    border-radius: 20px;
    /*border: 1px solid #cccccc;*/
    padding: 15px;
    overflow: hidden;
}


/*all text styling*/

body p {
    font-family: 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    background-color: #ffffff;
    color: #000000;
}

body h1,
h2 {
    font-family: 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
    font-weight: bold;
}

body h2 {
    font-size: 16px;
}

section {
    text-align: justify;
}


/*profile pic*/

.profile {
    border-radius: 135px;
    width: 40%;
    height: 40%;
    float: right;
}
