body {
    padding-left: 20%;
    padding-right: 20%;
    background: #ffffff;
}


/*header*/

.navbar-default {
    background-color: #ffffff;
}

#site-content {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 15px;
}

body p{
    font-family:'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    background-color: #ffffff;
    color: #000000;
}