<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="masters">
                <h1>Masters in Applied Computer Science </h1>
                <h2> Institution : SRH Hochschule Heidelberg,Heidelberg,Germany</h2>
                <p>Specialisation in Business Informatik</p>
                <ul>
                    <li>Information Systems</li>
                    <li>Software Architecture Development</li>
                    <li>SAP HANA</li>
                    <li>International Project Management</li>
                </ul>
            </div>
            <div class="bachlore">
                <h1>Bachelors in Computer Science and Engineering</h1>
                <h2> Institution : Visvesvaraya Technological University,Bangalore,India</h2>
                <p>Bachelors Courses :</p>
                <ul>
                    <li>Data Sturctures</li>
                    <li>Analysis and Design of Algorithms</li>
                    <li>Programming on the web</li>
                    <li>Fundamentals in C++ and C#</li>
                    <li>Programming Java and J2EE</li>
                    <li>Computer Graphics</li>
                    <li>Game theory</li>
                </ul>
            </div>
        </div>
    </div>
</div>
