 <main>
        <div class="nav">
            <a href="index.html">Rahul Puttireddy</a>
        </div>
        <div class="hi">
            <header>
                <h1> </h1>
            </header>
            <section>
                <p>Masters student in Informatik at <a href="http://www.hochschule-heidelberg.de/en/">SRH Hochschule Heidelberg </a> and working as a Master thesis student at <a href="https://icn.sap.com/home.html">SAP INC</a>.</p>
                <p>I am very interested in working as a Frontend web developer and would eventually work towards being a full stack web developer.</p>
                <p><a href="pages/work.html">Here</a> is what i have done so far and also shows my my work expereince at different organisations.</p>
                <p>You can contact me via <a href="mailto:rahulreddy160@gmail.com" class="mail">email</a>.
                </p>
                <p>Please take a look at my <a href="https://www.linkedin.com/in/rahulputtireddy">LinkedIn</a> and <a href="https://www.xing.com/profile/Rahul_Puttireddy">Xing</a> profiles.</p>
                <p>You can also find me on <a href="https://www.facebook.com/rpreddy3">Facebook</a> and<a href="https://twitter.com/iamrahul92"> Twitter</a>.</p>
            </section>
        </div>
    </main>