<nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
    <li><a ui-sref="site.home">Rahul</a></li>
    </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="site.home">Home</a></li>
            <li><a ui-sref="site.work">Work</a></li>
            <!-- <li> <a ui-sref="site.about">me</a></li> -->
            <li><a ui-sref="site.contact">Contact me</a></li>
        </ul>
    </div>
</nav>
<div id="site-content">
    <div ui-view></div>
</div>
