<div class="sap-thesis">
    <div class="company">SAP INNOVATION CENTER,Potsdam</div>
    <div class="date">July 2015 - Till date</div>
    <p>Presently Working as a Master thesis student.</p>
    <p>
        <ul>
            <li>Research and Developement of Genomic Workflow System.</li>
            <li>Technologies used : SAPUI5(Frontend JS Framework), Node.js and Docker.</li>
        </ul>
    </p>
</div>
<div class="sap-ws">
    <div class="company">SAP INNOVATION CENTER,Potsdam</div>
    <div class="date">May 2015 - July 2015</div>
    <p>Worked as a Working Student</p>
    <p>
        <ul>
            <li>Research on Existing Workflow systems.</li>
        </ul>
    </p>
</div>
<div class="blogfoster">
    <div class="company">BLOGFOSTER GmbH,Berlin</div>
    <div class="date">October 2014 - May 2015</div>
    <p>Worked as a Frontend development Intern</p>
    <p>
        <ul>
            <li> Obtained clean , structural and efficient programming skills.</li>
            <li> Framework being used Backbone.js.HTML5, CSS3 and JavaScript Optimizations according to customer as well as company needs.</li>
            <li> Feature implementation. Work with REST API.</li>
            <li> Manual Testing.</li>
            <li> Individual and team contribution.</li>
            <li> Work process majorly linked with Git and JIRA.</li>
        </ul>
    </p>
</div>
